body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
    background-color: #8EE4AF;
    margin: 1.5em;
                         
}

header {
    text-align: center;
    background-color: #5CDB95;
    font-size: 2em;
}

nav {
    background-color: #5CDB95;
    font-size: 1.5em;
    margin: 1em;
    
}

.navigation {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: "li li li li li";
    list-style: none;
    text-align: center;
    
    
}
a {
    text-decoration: none;
    color: #05386B;
    font-family: 'Do Hyeon', sans-serif;
    transition: all 0.2s ease-in;
}

a:hover {
    color: #379683;

}

main {
    margin: 1.5em;
    border-color:  #379683;
    border-width: 0.5em;
    border-style: outset;
    background-color: #5CDB95;
}

footer {
    text-align: center;
    color: #05386B;
}

h1 {
    color: #EDF5E1;
    font-family: 'Do Hyeon', sans-serif;
}

h2 {
    color: #05386B;
    font-family: 'Do Hyeon', sans-serif;
}

h3 {
    color: #05386B;
    font-family: 'Do Hyeon', sans-serif;
}

main > ul {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}



p {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

aside {
    display: none;
}

