body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
    background-color: #8EE4AF;
    margin: 1.5em;
                         
}

header {
    text-align: center;
    background-color: #5CDB95;
    font-size: 2em;
}

nav {
    background-color: #5CDB95;
    font-size: 1.5em;
    margin: 1em;
    
}

.navigation {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: "li li li li li";
    list-style: none;
    text-align: center;
    
    
}
a {
    text-decoration: none;
    color: #05386B;
    font-family: 'Do Hyeon', sans-serif;
    transition: all 0.2s ease-in;
}

a:hover {
    color: #379683;

}

main {
    margin: 1.5em;
    border-color:  #379683;
    border-width: 0.5em;
    border-style: outset;
    background-color: #5CDB95;
}

footer {
    text-align: center;
    color: #05386B;
}


.CVlayout {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 0.6em;
    grid-auto-rows: minmax(6.2, auto);
  }

.name {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
    font-size: 3em;
}
 
.address {
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: center;
    font-size: 2em;
}

.PS {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    font-size: 2em;
    margin: 4em;
    
    
}

.PStext {
    grid-column: 2;
    grid-row: 3;
    
}

.WE {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    font-size: 2em;
    
}
 
.WEtext {
    grid-column: 2;
    grid-row: 4;
    
}

ul {
    grid-column: 3;
    grid-row: 3;
    
}

.BB {
  grid-column: 2;
  grid-row: 5;
  
}

.BBtext {
  grid-column: 3;
  grid-row: 5;
  
}

.BE {
    grid-column: 2;
    grid-row: 6;
    
}
  
.BEtext {
    grid-column: 3;
    grid-row: 6;
    
}

.IH {
    grid-column: 1;
    grid-row: 7;
    text-align: center;
    font-size: 2em;
    margin: 3em;
    
}

.IHtext {
    grid-column: 2;
    grid-row: 7;
    
}

h1 {
    color: #EDF5E1;
    font-family: 'Do Hyeon', sans-serif;
}

h2 {
    color: #05386B;
    font-family: 'Do Hyeon', sans-serif;
}

h3 {
    color: #05386B;
    font-family: 'Do Hyeon', sans-serif;
}

main > ul {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
}



p {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

aside {
    display: none;
}

