body {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "main main aside"
                         "main main aside"
                         "footer footer footer";    
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    display: block;
    border-radius: 2em;

    background-color: #5CDB95;
}

.IndexMain > h1 {
    font-size: 6.5em;
}

nav {
    display: none;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

#hamburger
 {
   display: block;
   position: relative;
   top: 3em;
   left: 3em;

   z-index: 1;
 }
 
 #hamburger a
 {
   text-decoration: none;
   color: #05386B;
   transition: color 0.3s ease;
 }

 
 #hamburger input
 {
   display: block;
   width: 2.5em;
   height: 2em;
   position: absolute;
   top: 3em;
   left: 2em;
   opacity: 0; 
   z-index: 2; 
   
 }
 

 #hamburger span
 {
   display: block;
   width: 2.5em;
   height: 0.30em;
   margin-bottom: 0.5em;
   position: relative;
   background: #05386B;
   border-radius: 0.2em;
   top: 3em;
   left: 2em;
   z-index: 1;
   
   transition: transform 0.5s cubic-bezier(.42,0,.58,1);
   
 }
 

 #hamburger input:checked ~ span
 {
   transform: rotate(90deg);
 }
 

 
 .mobileMenu
 {
   position: absolute;
   width: 18em;
   margin: -6em 0 0 -3em;
   padding: 3em;
   padding-top: 10em;
   list-style: none;
   display: none;
   animation: 1s menufly;
 }

 @keyframes menufly {
     from {
         margin-left: 5em;
     }
     to {
         margin-left: -3em;
     }
 }
 
 .mobileMenu li
 {
   padding: 0.6em 0;
   font-size: 1.2em;
 }
 

 #hamburger input:checked ~ ul
 {
   display: block;
   
 }

 .IndexMain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1"
                         "img img"
                         "p p"
                         ;
 }

 .IndexMain > img {
    grid-area: img;
    border-radius: 1em;
    height: auto; 
    width: auto; 
    max-width: 15em; 
    max-height: 20em;

    
}



.CVlayout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "name"
                         "address"
                         "ps"
                         "pstext"
                         "ul"
                         "we"
                         "wetext"
                         "bb"
                         "bbtext"
                         "be"
                         "betext"
                         "ih"
                         "ihtext";
  }


.name {
    grid-area: name;
}
 
.address {
    grid-area: address;
}

.PS {
    grid-area: ps;
}

.PStext {
   grid-area: pstext;
    
}

.WE {
    
    grid-area: we;
}
 
.WEtext {
   
    grid-area: wetext;
}

.CVlayout > ul {
    grid-area: ul;
    
}

.BB {
    grid-area: bb;
  
}

.BBtext {
    grid-area: bbtext;
}

.BE {
    grid-area: be;
}
  
.BEtext {
   grid-area: betext;
    
}

.IH {
    grid-area: ih;
    
}

.IHtext {
    grid-area: ihtext;
}

.PortfolioMain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "p"
                         "img1"
                         "p1" 
                         "img2"
                         "p2"
                         "img3"
                         "p3" 
                         "img4"
                         "p4"
                         "img5"
                         "p5" 
                         "img6"
                         "p6";
}

.PortfolioMain > .p1 {
    grid-area: p1;
    margin-left: 0.2em;
    font-size: 1em;
    animation: 1s imgflyp
}

.PortfolioMain > .p2 {
    grid-area: p2;
    margin-right: 0.2em;
    font-size: 1em;
    animation: 1s imgfly2p
}

.PortfolioMain > .p3 {
    grid-area: p3;
    margin-left: 0.2em;
    font-size: 1em;
    animation: 1.5s imgflyp

}

.PortfolioMain > .p4 {
    grid-area: p4;
    margin-right: 0.2em;
    font-size: 1em;
    animation: 1.5s imgfly2p

}

.PortfolioMain > .p5 {
    grid-area: p5;
    margin-left: 0.2em;
    font-size: 1em;
    animation: 2s imgflyp
}

.PortfolioMain > .p6  {
    grid-area: p6;
    margin-right: 0.2em;
    font-size: 1em;
    animation: 2s imgfly2p
}

.PortfolioMain > img {
    height: auto; 
    width: auto; 
    max-width: 10em; 
    max-height: 10em; 
}

img[src="Placeholder1.JPG"] {
    grid-area: img1;
    margin-left: 3em;
    animation: 1s imgfly 
}

img[src="Placeholder2.JPG"] {
    grid-area: img2;
    margin-left: 3em;
    animation: 1.2s imgfly
}

img[src="Placeholder3.JPG"] {
    grid-area: img3;
    margin-left: 3em;
    animation: 1.5s imgfly 
}

img[src="Placeholder4.JPG"] {
    grid-area: img4;
    margin-left: 3em;
    animation: 1.7s imgfly
}

img[src="Placeholder5.JPG"] {
    grid-area: img5;
    margin-left: 3em;
    animation: 2s imgfly 
}

img[src="Placeholder6.JPG"] {
    grid-area: img6;
    margin-left: 3em;
    animation: 2s imgfly
}

@keyframes imgfly {
    from {
        margin-left: -40em;
    }
    to {
        margin-left: 3em;
    }
}

@keyframes imgfly {
    from {
        margin-left: -40em;
    }
    to {
        margin-left: 3em;
    }
}

@keyframes imgfly {
    from {
        margin-left: -40em;
    }
    to {
        margin-left: 3em;
    }
}

@keyframes imgflyp {
    from {
        margin-left: -40em;
    }
    to {
        margin-left: 0.2em;
    }
}

@keyframes imgfly2p {
    from {
        margin-left: -40em;
    }
    to {
        margin-right: 0.2em;
    }
}

form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "label"
                         "input"
                         "textarea"
                         "submit"
                         ;

    grid-gap: 1em;
}

label {
    font-size: 1em;
}

textarea {
    height: 12em;
}



.contact > p {
    text-align: left;
    font-size: 1.2em;
}



.validation {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
                         "cov"
                         "context" 
                         "cvv"
                         "cvvtext"
                         "inv"
                         "idvtext"
                         "pov"
                         "povtext"
                         "css"
                         "csstext"
                         "csm"
                         "csmtext"
                         "srv"
                         "srtext";
    grid-gap: 1.5em;

}

.validation > img {
    height: auto; 
    width: auto; 
    max-width: 17em; 
    max-height: 20em;
    border-radius: 0.5em;
}

img[src="sitereportvalid.png"] {
    margin-left: 0.5em;
}
